[submodule "pack/filetypes/opt/ansible"]
	path = pack/filetypes/opt/ansible
	url = https://github.com/pearofducks/ansible-vim
[submodule "pack/filetypes/opt/livedown"]
	path = pack/filetypes/opt/livedown
	url = https://github.com/shime/vim-livedown
[submodule "pack/filetypes/opt/medieval"]
	path = pack/filetypes/opt/medieval
	url = https://github.com/gpanders/vim-medieval
[submodule "pack/filetypes/opt/rust"]
	path = pack/filetypes/opt/rust
	url = https://github.com/rust-lang/rust.vim
[submodule "pack/filetypes/opt/rust-racer"]
	path = pack/filetypes/opt/rust-racer
	url = https://github.com/racer-rust/vim-racer
[submodule "pack/ui/opt/neodark"]
	path = pack/ui/opt/neodark
	url = https://github.com/KeitaNakamura/neodark.vim
[submodule "pack/code/ale"]
	path = pack/code/ale
	url = https://github.com/w0rp/ale
[submodule "pack/ui/opt/vimwiki"]
	path = pack/ui/opt/vimwiki
	url = https://github.com/vimwiki/vimwiki
